*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #322C2B;
    width: 100%;

}
.productNav {
    display: flex;
    padding: 10px 20px;
    background-color: #0C0C0C;
    color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 15px;

}
.input {
    border: none;
    outline: none;
    background-color: whitesmoke;
    padding: 10px;
    width: 85%;
    color: rgb(100, 100, 100);
    border-radius: 15px;
    padding-right: 30px;
    padding-left: 15px;
}
p {
    font: 15px;
}
.add,
.all {
    border: 1px solid #322C2B;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}
.add {
    margin-left: 20px;
}
.search {
    position: relative;
}

.artDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #322C2B;
    margin-top: 20px;
    color: whitesmoke;
    background-color: #0C0C0C;
    border-radius: 10px;
}
.artImage{
    width:200px;
    height:200px;
}
.productDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
}
.cartIcon{
    width:30px;
    height:30px;
}